@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.navbar{
    width: 1280px;
    background: #FFF;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 9px;
    padding-bottom: 9px;
}
.nav-icon{
    margin-left: 40px;
}
.nav-container ul{
    margin-right: 40px;
}
.nav-container ul li{
    display: inline-block;
    padding: 0px 10px;
    list-style: none;  
    
}
.nav-container ul li a{
    text-decoration: none;
    color: #161616;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 12px;
    text-align: center;
    border-radius: 20px;
}
.nav-container ul li a:hover{
    color: #fff;
    background-color: #161616;
}
.menu {
   cursor: pointer;
   display: none;
}
.menu-line{
    width: 20px;
    height: 3px;
    background: #161616;
    margin: 5px 0px;
    border-radius: 2px;
    margin-right: 40px;
}
@media screen and (max-width: 992px) {
    .nav-container ul{
        margin-left: 20px;

    }
    .nav-container ul li{
        padding: 0px 5px;
    }
    .nav-container ul li a{
        font-size: 12px;
    }
}
@media screen and (max-width: 768px) {
    .nav-container ul{
       margin-right: 20px;

    }
    .nav-container ul li{
       padding: 0px 2px;
    }
    .nav-container ul li a{
        font-size: 12px;
    }
    .nav-icon{
        margin-left: 25px;
        padding-top: 10px;
    }
    }
    @media screen and (max-width: 650px) {
        .navbar{
            width: 100%;
            flex-direction: column;
            padding: 0;
            padding-bottom: 20px;
            
    
        }
        .nav-container ul li{
            display: block;
            padding: 10px 0px;
            text-align: center;
           
        }
        .nav-icon{
            align-self: self-start;
            padding: 20px 0px 0px 40px;
        }
        .nav-container ul{
            display: none;
        }
        .menu{
            display: block;
            position: absolute;
            align-self: self-end;
            padding: 25px 0px 0px 40px;
            transform: 0.2s;
        }
        .navbar .showmenu{
            display: block;
        }
        }
    @media screen and (max-width: 576px) {
        .navbar{
            width: 100%;
            flex-direction: column;
            padding: 0;
            padding-bottom: 20px;
            box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.08);
        }
        .nav-container{
            width: 50%;
           
           align-self: self-end;
           box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.08);
        }
        .nav-container ul li{
            display: block;
            padding: 10px 0px;
            text-align: center;
            text-align: end;
        }
        .nav-icon{
            align-self: self-start;
            padding: 20px 0px 0px 40px;
        }
        .nav-container ul{
            display: none;
        }
        .menu{
            display: block;
            position: absolute;
            align-self: self-end;
            padding: 25px 0px 0px 40px;
            transform: 0.2s;
        }
        .navbar .showmenu{
            display: block;
        }
}