@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    overflow: hidden;
    
}
.nav-content{
    width: 1280px;
    height: 72px;
    box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px;
    padding: 0px 40px;
    z-index: 100;
    
    
}
.menu{
    display: none;
}
.menu i{
    font-size: 20px;
    color: #091520;

}
.small-device{
    display: none;
}
#close-btn {
    display: none;
    text-align: center;
    color:#091520;
    border: none;
    
}
button i{
    font-size: 20px;
    
}
.small-list{
    display: none;
}
.unorderlist li{
    display: inline-block;
    list-style: none;
   
}
.unorderlist li a{
    text-decoration: none;
    color: #091520;
    font-size: 15px;
    font-weight: 400;
    padding:10px 15px;
}
.unorderlist li a:hover{
    color: #fff;
    background: #091520;
    border-radius: 15px;
    
}
.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-container{
    width: 1280px;
    height: 656px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px;
    padding: 0px 40px;
    background: linear-gradient(0deg, rgba(9, 21, 32, 0.75) 0%, rgba(9, 21, 32, 0.75) 100%), url(https://s3-alpha-sig.figma.com/img/1ddc/436b/6b3dff1d785de0fec8290c62135ab0b1?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ZD1SQo6YfE9HqaAAWrn9N~3bCvqa-5eYjp~8A5N5DKuN9UiwZbe4cTwBIaEsroH1EYyLg4Qn2-IWQFXDTQrhA8RN8Z72LBEGtBH0mdKjhy3OuF14vUgw05eMprfmAGXDca35GzYFMzXr-3i9ly18pn8GWWYR4rPM6ZOL1fLLnS9MaV1~g52SugIsMEHsReyY298l68~APmRfp2H69mqnZdQGlpLgbblYGlU~c9fYrt2Yjy23opa6CeTQU-WYo9Ji3qUGQSTTko2YUB9o~TtP94kHT90Mbc~y-lKVneQeW8bwNmE2uGPkManHF-6pEGO71lJq49q5NDEMVDfKOsp~5A__), lightgray -0.794px -98.025px / 118.966% 154.728% no-repeat;
    background-size: cover;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
   
    
}
.left-content{
    width: 560px;
    height: 134px;

}
.home-container h1{
    color: #FFF;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
.home-container p{
    color: #fff;
    margin-top: 2%;
}
.left-content a{
    text-decoration: none;
    color: #FFF;
    background-color: #40A5A2;
    width: 150px;
    height: 40px;
    display: flex;
    padding: 11px 24px;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    gap: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 24px;
    font-size: 15px;
   
}
.right-content{
    display: flex;
    flex-direction: column;
    width: 365px;
    height: auto;
    background: #FFF;
    border-radius: 30px;
    

}
.right-content h2{
    text-align: center;
    margin-top: 8%;
    color: #091520;
    padding-bottom: 10%;
}

label{
   padding: 5px 20px;
   font-size: 14px;
   font-weight: 400;
   font-style: normal;
   color: #091520;
}
input{
    margin: 5px 20px;
    padding: 10px;
    border: none;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.8);
    border-radius: 20px;
    padding-right: 10px;
}
input::placeholder{
    padding: 10px;
}
.submit{
    margin-bottom: 30%;
}
.input-checkbox span{
    margin-top: 10px;
    padding-top: 10px;
    text-align: start;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    
}
.input-checkbox a{
    
    padding-left: 20px;
}







/*mobile medium device 768px*/
@media screen and (max-width: 768px) {
    
    .nav-content{
        width: 100%;
        margin: 0px;
        z-index: 1;
       position: relative;
    }
    .unorderlist{
        display: none;
    }
    .menu{
        display: block;
    }
    .small-device{ 
        width: 60%;
        height: 100vh;
        box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.8);
        position: absolute;
        right: 0px;   
        align-items: end;
        background: #091520;
        opacity: 0.8;
        
       
        
    }
    .small-list{
        right: 0px;
        
       
    }
    .small-list li{
        display: block;
        list-style: none;
        text-align: start;
        width: 200px;
        margin: 20px 10px;
        
        
        
    }
    .small-list li a{
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
        border: 10px;
        color: #fff;

        
    }
    .small-list li a:hover{
        color: black;
        background: #fff;
        border-radius: 15px;
        padding: 10px 20px;
        font-weight: 400;
        z-index: 1;
       
    }
   

/*mobile device 576px*/
/* @media screen and (max-width: 576px) {
    
    .nav-content{
        width: 100%;
        margin: 0px;
        z-index: 1;
        
       
    }
    .unorderlist{
        display: none;
    }
    .menu{
        display: block;
    }
    .small-device{ 
        width: 60%;
        height: 100vh;
        box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.8);
        position: absolute;
        right: 0px;   
        align-items: end;
        background: #091520;
       
        
    }
    .small-list{
        right: 0px;
        margin: 20px 10px;
    }
    .small-list li{
        display: block;
        list-style: none;
        text-align: start;
        width: 200px;
       
        
        
    }
    .small-list li a{
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
        border: 10px;
        color: #fff;
        padding: 10px 20px;
        
    }
    .small-list li a:hover{
        color: black;
        background: #fff;
        border-radius: 15px;
        z-index: 1;
        font-weight: 400;
        
       
    }
    .home-container{
        width: 100%;
        
        flex-direction: column;
        margin: 0px;
        background-size:cover;
        align-items: center;

    }
    .home-container .left-content{
        width: 100%;
       
        margin-top: 10%;
        margin-right: 20px;
    }
    .home-container h1{
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
    }
    .home-container p{
        font-size: 12px;
        font-size: 400;
    }
    
} */
